* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ********************* DOCUMENT

// ******** Editor
.editor {

  #container {
    height: 50vh;
  }

  .compile {
    position: relative;
    top: 20px;
  }
}

#preview {
  height: 100vh;
  width: 100vw;

  svg {
    color: black;
    font-family: "Times New Roman", serif;

    .title {
      font-size: 22px;
    }

    .composer, .capo, .tuning {
      font-size: 10px;
    }

    line, path {
      stroke: rgb(0,0,0);
    }

    line.staffline {
      stroke-width: 0.4px;
    }

    line.barline {
      stroke-width: 1.3px;
    }

    path.fancy-line-main {
      stroke-width: 2.5px;
    }

    path.fancy-line-curl {
      stroke-width: 0.1px;
    }
  }
}
