* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ********************* DOCUMENT

.document {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-y: scroll;
}

.editor {
  height: 90vh;
  width: 40%;
  display: flex;
  flex-direction: column;

  #container {
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;

    .ql-toolbar.ql-snow {
      height: 42px;
    }

    .ql-container.ql-snow {
      overflow: scroll;
    }
  }

  .compile {
    position: relative;
  }

  .download {
    position: relative;
  }

  canvas {
    display: none;
  }

  .editor-buttons {
    height: 10%;
    position: relative;
  }
}

#preview {
  height: 100vh;
  width: 60%;
  overflow-y: scroll;
}


// ***************** Home

.documents-table {
  width: 100%;

  th {
    text-align: left;
  }

  .documents-table-title {
    width: 50%;
    text-overflow: ellipsis;
  }

  .documents-table-modified {
    width: 25%;
  }

  .documents-table-actions {
    width: 25%;
  }
}

.link {
  display: block;
}