@use "./../../App";

#header {
  height: 120px;
  padding: 20px;
  position: relative;
}

#logo {
  position: absolute;
  left: 30px;
  width: 200px;
}

#logo:hover {
  cursor: pointer;
}

#buttons {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);

  button {
    height: 45px;
    border-radius: 20px;
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }

  #docs, #signup {
    width: 170px;
    background: white;
  }
  
  #docs:hover, #signup:hover {
    background-color: App.$blue;
    color: white;
  }
  
  #login, #logout {
    width: 120px;
    background-color: App.$blue;
    color: white;
  }

  #login:hover, #logout:hover {
    background-color: App.$blue-transparent;
    border: none;
  }

}


