@use "./../../../App";


.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 90%;

  .confirmation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#dashboard {
  display: flex;
  position: relative;
  flex-direction: row;

  #dashboard-side {
    width: 282px;
    height: calc(100vh - App.$header-height - 20px);
    background-color: App.$gray;
    position: relative;
    border-radius: 0 0 10px 10px;

    #dashboard-side-extra {
      width: 282px;
      height: calc(App.$header-height - 20px);
      position: absolute;
      background-color: App.$gray;
      top: calc(-1 * App.$header-height + 20px);
      border-radius: 10px 10px 0 0;
    }
  }
}




.documents-table {
  width: 100%;

  th {
    text-align: left;
  }

  .documents-table-title {
    width: 50%;
    text-overflow: ellipsis;
  }

  .documents-table-modified {
    width: 25%;
  }

  .documents-table-actions {
    width: 25%;
  }
}

.link {
  display: block;
}