@use "./../../../App";

#landing-top {
  display: flex;
  padding: 35px 35px 0 35px;
  flex-direction: row;

  .landing-box {
    width: 50%;
  }
}


#landing-header {
  font-family: App.$header-font;
  font-size: 70px;
  width: 70%;
}

#landing-description {
  font-family: App.$para-font;
  font-size: 18px;
  width: 90%;
  line-height: 35px;
  margin-top: 20px;
  color: App.$blue;
  line-height: 43px;
}


#landing-image {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    float: right;
  }
}


